html {
  background-color: rgb(192, 225, 255);
  margin: 0;
  padding: 0;   
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Oliver', sans-serif;
    width: auto;
  }
#corpo {
    margin: 0 auto;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    border: 3px solid #000000;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
  }
#topo {
    border: 3px solid rgb(0, 0, 0);
    height: 100px;
    background-color: #ccf8c8;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }
#meio {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    background-color: rgb(192, 255, 197);
    margin: 20px 0;
    height: 1000px;
  }
#esquerda {flex: 1;
  border: 3px solid rgb(0, 0, 0);
  text-align: center;
  line-height: 200px;
  font-weight: bold;
}


#centro {flex: 2;
  border: 3px solid rgb(0, 0, 0);
  text-align: center;
  line-height: 200px;
  font-weight: bold;
}

#direita {
    flex: 1;
    border: 3px solid rgb(0, 0, 0);
    text-align: center;
    line-height: 200px;
    font-weight: bold;
  }
#rodape {
    border: 3px solid rgb(0, 0, 0);
    height: 60px;
    text-align: center;
    line-height: 60px;
    font-size: 16px;
    
    background-color: #ccf8c8;
  }
  .imagem-bloco {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px;
  }

#menu {
  display: flex;
  text-align: center;
}

#botão1, #botão2, #botão3, #botão4, #botão5 {
  flex: 5;
}
